@model Babylon.Site.Models.ProfileViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Profile Details</h2>

<script src="/Babylon.Site/Scripts/site.js" type="text/javascript" language="javascript"></script>

<fieldset>
    <legend>Profile Properties</legend>

    <div class="fields-left">
    
        <div class="display-field">
            <img id="profile-photo" src="@Model.PhotoUrl" alt="Profile Photo" />
            <div id="preview"></div>
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Username)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Username)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Name)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Surname)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Surname)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Email)
        </div>

    </div>

    <div class="fields-right">

        <div class="display-label">
            @Html.LabelFor(model => model.DateOfBirth)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.DateOfBirth)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Gender)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Gender)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Address.Street)
        </div>
        <div class="display-label">
            @Html.DisplayFor(model => model.Address.Street)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Address.City)
        </div>
        <div class="display-label">
            @Html.DisplayFor(model => model.Address.City)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.Address.PostalCode)
        </div>
        <div class="display-label">
            @Html.DisplayFor(model => model.Address.PostalCode)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.CreatedOn)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CreatedOn)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.UpdatedOn)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.UpdatedOn)
        </div>

    </div>

</fieldset>
<p>
    @Html.ActionLink("Back to Profiles", "Index") |
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID })
</p>
